*{
    box-sizing: border-box;
    font-family: 'roboto';
    font-weight: 700;
    font-style: normal;
}


.container{
    background-color: #23424A;
    width: 100%;
    padding:  5rem;
}


h2{
    font-size: 7vmin;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#text{
    color:aliceblue;
    width: 50%;
    font-weight: 900;
    margin-bottom: 4rem;
}

#button{
    background-color: #38CFD9;
    color: aliceblue;
    width: 11rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 15px;
}